NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= pk_test_ZnJlZS1hbnQtMC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY= sk_test_PYcbOhEmTyaz3dZpabgzVQRkwRI5A7UknaE5PM5qmu

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

DATABASE_URL="mongodb+srv://dbUser:pass1@cluster0.utxgruh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

UPLOADTHING_TOKEN=''

NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_TEACHER_ID=

